/* Cms Editor fields */
.CMS_La_M{width: 49%; background-color: #c11239;}
.CMS_La_S{width: 49%; background-color: #5b0404; padding: 1px; margin-top: 3px;}
.CMS_La_S div{width: 49%; background-color: #9f2323; color: #ffeeee; padding: 1px;}
.CMS_EDI_Sub{padding: 1px; background-color: #c11239;}